.editor-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: $editorToolbarBorderRadius;
  border: 1px solid #{$shade300};

  .editor {
    width: 100%;
    font-size: $fontSize;
    background: $editorContentBg;
  }

  .editor-menu {
    overflow-x: auto;
    display: flex;
    width: 100%;
    padding: 2.5px;
    align-items: center;
    border-bottom: 1px solid #{$shade300};

    &-group {
      display: flex;
      margin: auto 10px;
    }

    &-item {
      color: $editorToolbarIconColor;
      margin: auto 5px;
      font-size: calc($fontSize * 1.2);
    }

    &-item.active {
      color: $editorIconActiveColor;
    }
  }

  .editor-menu::-webkit-scrollbar {
    height: 2px;
    width: 0;
    background: transparent;
  }

  .editor-menu::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: $scrollThumbBg;
    border: none;
  }

  .editor-link {
    display: flex;
    min-width: 300px;
    z-index: 5000;
    align-items: center;
    top: 45px;
    left: 10px;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    padding: 10px;
    background: #fff;
    position: absolute;
  }

  .editor-image {
    margin-top: 3px;
    position: relative;

    input {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
    }
  }

  /**
   * Personalização do style do Tiptap
   */
  .tiptap {
    flex: 1;
    padding: 10px;

    a {
      color: $primaryColor;
      text-decoration: underline solid $primaryColor;
    }

    code {
      background: #f0f0f0;
      border-bottom: 3px;
      padding: 2px 4px;
      font-size: 85%;
    }

    img {
      max-width: 100%;
    }
  }

  .tiptap.ProseMirror-focused {
    border-radius: $editorToolbarBorderRadius;
    outline: none !important;
  }
}