.input-filter-container {
  border-radius: $borderRadius;
  border: 1px dashed #{$shade300};
}

.input-filter-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: .5rem;

  .p-autocomplete-multiple {
    padding: 0;
  }

  .p-autocomplete-multiple-container {
    width: 100%;
    padding: .2rem .5rem;

    .form-control {
      border: none;
      padding: .2rem;
    }

    .p-autocomplete-token {
      padding: .2rem .5rem;
      margin: 0;
    }
  }

  .p-autocomplete-multiple-container.p-focus {
    box-shadow: none;
    border-color: var(--input-filter-border-color);
  }
}

.input-filter-select {
  width: 40%;
  max-width: 200px;
  min-width: 130px;
}

.input-filter-field {
  width: 100% !important;
}

.input-filter-field-date {
  flex: 1;
}

.input-filter-field-date.year {
  flex: 2;
}

.input-filter-autocomplete-panel {
  .p-autocomplete-items {
    padding-left: 0 !important;
  }
}