.pivot-table {
  position: relative;
  border: 1px dashed #{$tablePivotBorderColor};
  border-radius: $borderRadius;

  //Toolbar - Cabeçalho de opções
  #wdr-toolbar-wrapper #wdr-toolbar {
    background: transparent !important;

    span {
      font-size: $fontSize !important;
      font-family: $fontFamily;
    }
  }

  //Grid - Dados
  #wdr-pivot-view {

    //Cabeçalho
    .wdr-grid-layout div.wdr-header {
      background: $tablePivotViewBg !important;
    }

    //Filtro
    .wdr-grid-layout #wdr-cols-filter {
      background: $tablePivotViewFilterBg;
    }

    //Linhas e colunas
    .wdr-ui div {
      font-family: $fontFamily !important;

      &.wdr-cell {
        //color: #abc502 !important;
        background: $tablePivotBg;
        border-color: $tablePivotBorderColor;
      }
    }

    //Modal
    div.wdr-ui-window {
      padding: $tablePivotModalPadding;

      //Titulo e subtitulo
      .wdr-popup-subtitle,
      .wdr-popup-title {
        margin: 0;
        padding: 0;
      }

      .wdr-popup-title {
        font-size: 20px
      }

      //Botões
      .wdr-ui-btn {
        height: auto;
        margin: 0 .25rem;
        padding: $tablePivotModalBtnPadding;
        font-size: $tablePivotModalBtnFontSize;
      }

      .wdr-selected,
      .wdr-unchecked,
      .wdr-checked {
        span {
          font-family: $fontFamily !important;
        }
      }

      .wdr-ui-toggle-btn-dark {
        margin-bottom: 15px !important;
      }
    }
  }

  //Opções de dados
  .wdr-ui {
    font-family: $fontFamily !important;
  }

  .wdr-credits {
    display: none !important;
  }
}